In [4]:
import pandas as pd
from pyquery import PyQuery as pq
from segtok.segmenter import split_single, split_multi
from segtok.tokenizer import symbol_tokenizer, word_tokenizer, web_tokenizer
#http://textminingonline.com/dive-into-nltk-part-ii-sentence-tokenize-and-word-tokenize
from nltk.tokenize import sent_tokenize

In [5]:
df = pd.read_excel("../0 - all coding correct 3plus.xlsx", 0)

In [6]:
df.shape

(24194, 87)

In [7]:
df.head()

,id,Время,Этноним,Логин,Понятно?,Этноним.1,Негатив,Позитив,Конфликт,Поз.взаим.,...,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
0,киргизский_12,2016-09-16 14:11:00,девочку,nicketas,yes,several,weak,weak,unk,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,азербот_46,2016-10-03 20:08:00,азерботы,yuvkhudyakov,yes,one,weak,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,черножопый_146,2016-10-05 01:47:00,черножопые,alyonam,yes,one,weak,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,гастарбайтер_140,2016-10-05 02:13:00,гастарбайтер,adzhigitova,yes,one,weak,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,аварец_13,2016-09-22 14:28:00,Аварца,an_men,yes,one,weak,weak,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24194 entries, 0 to 25445
Data columns (total 87 columns):
id             24194 non-null object
Время          24194 non-null datetime64[ns]
Этноним        24194 non-null object
Логин          24194 non-null object
Понятно?       24181 non-null object
Этноним.1      20229 non-null object
Негатив        20229 non-null object
Позитив        20229 non-null object
Конфликт       20229 non-null object
Поз.взаим.     20229 non-null object
Этн.           17344 non-null float64
Мигр.          17344 non-null float64
Религ.         17344 non-null float64
Соц.           17344 non-null float64
Полит.         17344 non-null float64
Экон.          17344 non-null float64
Культ.         17344 non-null float64
Быт            17344 non-null float64
Юмор           17344 non-null float64
Ист.           17344 non-null float64
Др.            17344 non-null float64
Непон.         17344 non-null float64
Этноним 1      17344 non-null object
Обобщение      12902 non-null float64
Отношение      12902 non-null float64
Агрессия       12902 non-null float64
Солидар.       12902 non-null float64
Низ/выс        12902 non-null float64
Жертва?        12902 non-null float64
Опасный?       12902 non-null float64
Этноним 2      7551 non-null object
Обобщение.1    6621 non-null float64
Отношение.1    6621 non-null float64
Агрессия.1     6621 non-null float64
Солидар..1     6621 non-null float64
Низ/выс.1      6621 non-null float64
Жертва?.1      6621 non-null float64
Опасный?.1     6621 non-null float64
Этноним 3      3932 non-null object
Обобщение.2    3563 non-null float64
Отношение.2    3563 non-null float64
Агрессия.2     3563 non-null float64
Солидар..2     3563 non-null float64
Низ/выс.2      3563 non-null float64
Жертва?.2      3563 non-null float64
Опасный?.2     3563 non-null float64
Этноним 4      2275 non-null object
Обобщение.3    2068 non-null float64
Отношение.3    2068 non-null float64
Агрессия.3     2068 non-null float64
Солидар..3     2068 non-null float64
Низ/выс.3      2068 non-null float64
Жертва?.3      2068 non-null float64
Опасный?.3     2068 non-null float64
Текст          24194 non-null object
Unnamed: 55    996 non-null object
Unnamed: 56    358 non-null object
Unnamed: 57    186 non-null object
Unnamed: 58    154 non-null object
Unnamed: 59    91 non-null object
Unnamed: 60    76 non-null object
Unnamed: 61    51 non-null object
Unnamed: 62    48 non-null object
Unnamed: 63    45 non-null object
Unnamed: 64    42 non-null object
Unnamed: 65    42 non-null object
Unnamed: 66    42 non-null object
Unnamed: 67    39 non-null object
Unnamed: 68    36 non-null object
Unnamed: 69    36 non-null object
Unnamed: 70    36 non-null object
Unnamed: 71    36 non-null object
Unnamed: 72    32 non-null object
Unnamed: 73    32 non-null object
Unnamed: 74    32 non-null object
Unnamed: 75    32 non-null object
Unnamed: 76    32 non-null object
Unnamed: 77    11 non-null object
Unnamed: 78    11 non-null object
Unnamed: 79    11 non-null object
Unnamed: 80    11 non-null object
Unnamed: 81    11 non-null object
Unnamed: 82    11 non-null object
Unnamed: 83    11 non-null object
Unnamed: 84    3 non-null object
Unnamed: 85    3 non-null object
Unnamed: 86    3 non-null object
dtypes: datetime64[ns](1), float64(40), object(46)
memory usage: 16.2+ MB

In [9]:
df.columns.tolist().index("Текст")

54

In [10]:
df = df[df.columns[:55]]

In [11]:
df_contrast = df[(df["Конфликт"] == "yes") | (df["Негатив"] == "strong")]

In [12]:
df_contrast.shape

(5645, 55)

In [13]:
for _id, text in df_contrast["Текст"].sample(200, random_state=42).iteritems():
    with open("../output/contrast_texts/texts/{}.txt".format(_id), "wt") as f:
        text = text.replace("\n", " ").replace("\r", " ")
        text = text.replace("<br>", " ").replace("</br>", " ")
        text = pq(text).text()
        
        for s in sent_tokenize(text):
            f.write(" ".join([token for token in web_tokenizer(s)]) + "\n")